#map {
    height: 400px;
    width: 760px;
    margin: 0 auto;
}

#map h2 {
    color: black;
    text-shadow: none;
}

#map p {
    color: black;
}

#body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    font-size: 12px;
}

#wrapper {
    background-image: url("../img/pb_zdjecie.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#header {
    text-align: center;
    background-color: burlywood;
    margin: 0 auto;
}

ul {
    float: left;
    width: 100%;
    padding: 0;
    list-style: none;
    margin: 0 auto;
    background-color: chocolate;
}

li a {
    display: block;
    float: left;
    text-align: center;
    font-size: 1.2em;
    color: rgb(0, 0, 0);
    padding: 8px 10px;
    margin: 0px 1px 1px 0px;
    border: 1px solid rgb(34, 34, 37);
    text-decoration: none; 
}

li a:hover {
    background-color: rgb(226, 236, 77);
    color: rgb(75, 72, 72);
}

#mapa {
    text-align: center;
}

#formularz {
    text-align: center;
    margin: 10px;
}

#button {
    padding: 10px 25px;
    margin: 10px;
    font-size: 14px;
    cursor: pointer;
    color: cornflowerblue;
    background-color: cyan;
    border-radius: 10px;
    box-shadow: 0 5px gray;
}

#button:hover {
    background-color: darkcyan;
    color: white;
}

#content {
    background-color: wheat;
    width: 60%;
    margin: 0 auto;
}

#footer {
    text-align: right;
    background-color: burlywood;
    margin: 0 auto;
}

#signup .indent label.error {
    margin-left: 0;
}

#signupX label.error {
    font-size: 0.8em;
    color: #f00;
    font-weight: bold;
    display: block;
    margin-left: 215px;
}

#signupX input.error, #signup select.error {
    background: #ffa9b8;
    border: 1px solid red;
}